/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
npauthor@earthlink.net
*/
@import "bootstrap";
@import "font-awesome";

/*
 * Testing  using Google Fonts
@import url('https://fonts.googleapis.com/css?family=Abel');
*/


h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}


body {
  background: image_url('circuit.png');
  /*font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;*/
  font-family: 'acherus_grotesqueregular', sans-serif;
  font-weight: 600px;
  /*letter-spacing: -0.3px*/
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

a {
  background: none;
}

a:visited {
  color: rgb(68, 145, 233);
}

a:link {
  outline: none;
  text-decoration: none;
  background: none;
  color: #265301;
}

a:active {
  background: none;
  color: rgb(90, 167, 90);
}

.navbar {
  background: image_url('prism.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  color: white;
}


.navbar-light .navbar-brand {
  color: #0986F3;
  /*font-family: 'Abel', sans-serif;*/
  font-family: 'acherus_grotesqueregular', sans-serif;
  font-size: 26px;
  background: none;
  margin-bottom: -2px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(237, 241, 243, 0.911);
  border-color: #333538;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 540px;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}


.custom-toggler.navbar-toggler {
  border-color: rgba(255,255,255,0.5);
} 

.clear {
    clear: both;
}

.booyah-box {
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 15px;
  padding: 20px;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
    height: 300px;
    }
